@charset "UTF-8";
/* 1. 초기화  */
	*{
		margin : 0; padding : 0;
	 	font-family : '맑은 고딕', 'Magun Gothic', 'Gothic', sans-serif;
	}
	a  { text-decoration : none; }
	li { list-style : none; }

/* 2. 페이지 구성  */
	body {
		width   : 1000px;
		margin  : 0 auto;
	}
	
	#page-wrapper {
		margin : 0 auto; 
		padding: 0 auto;
	}


/* 3. 상단 작은 메뉴 - 로그인, 회원가입, 내 공간  */
	 #upper_menu{
	    top 	   : 10px; 
	    left	   : 1135px;
	    position   : absolute;
	
	 }
	 
	.upper_menu_item{
		display    : inline-block;
		margin     : 0 11px 0 0; 
		font-size  : 13px;
		font-weight: 15px;
	}


/* 4. 헤더 구성하기 */
	#main-header  {
		padding    : 30px 50px 20px 50px;
	    top 	   : 10px; 
	    left	   : 400px;
    	position   : absolute;
	}
	
	.master-title { 
		font-size : 30px;   
		color	  : transparent;
 		text-decoration: none; 
 	}
 	
	.master-description {
		font-size: 15px; 
		font-weight : 500;
	}

/*  5. 목록 & 상단 공통 nav */
	#main-navigation {
		padding     : 0 auto;
		margin      : 0 auto;
		width       : 100%;
	}
	
	.gubun-nav-title {
	    border-top: 1px solid #C8C8C8;
	    border-bottom: 1px solid #C8C8C8;
	    top       : 130px;
	    left      : 400px;
	    
	    height    : 50px;
	    width     : 150px;
	    margin    : 0 auto;
	    padding   : 0 auto;
	    
	    text-align: center;
	    line-height: 50px;
	    position: absolute;
	    font-weight: bold;
	    position   : absolute;
    }
	
/*  6.  목록 위쪽 화살표 */
	.upper_arrow{
		top			: 212.5px;
		left		: 460px;
		
		width 		: 27.5px;
		height		: 27.5px;
	
	    border-top	: 5px solid lightgray; /* 선 두께 */
	    border-right: 5px solid lightgray; /* 선 두께 */
	    transform	: rotate(315deg); /* 각도 */
 		position   	: absolute;
	}
	
/*  7. 왼쪽 세로 메뉴 */
 	ul#navi {
		width      : 150px;
		top        : 250px;
		left	   : 400px;
		height	   : 455px;
		
		overflow-y : auto; 
		-ms-overflow-style: none; /* IE and Edge : 스크롤바 숨기기 */
    	scrollbar-width: none; /* Firefox : 스크롤바 숨기기 */
    
		position   : absolute;
	}
	
	ul#navi::-webkit-scrollbar {
	  display: none; /* Chrome, Safari, Opera : 스크롤바 숨기기 */
	}
	
 	ul#navi, ul#navi ul {
    	padding     : 0;
       	text-align  : center;
	}
	
	li.group {
   			margin-bottom: 3px;
	}
	
    li.group div.title {
        	height       : 35px;
        	line-height  : 35px;
        	background   : #d9d9d9; 
        	cursor       : pointer;
        
	}
	
	li.group div.title:hover  {
			font-weight  : bold;	
	}
	
    ul.sub li {
        	margin-bottom: 2px;
	        height       : 35px;
	        line-height  : 35px;
	        background   : #f4f4f4; 
	        cursor       : pointer;
	}
    ul.sub li a {
	        display      : block;
	        width        : 100%;
	        height       : 100%;
	        text-decoration:none;
	        color        : #000;
	}
    ul.sub li:hover {
        background    : #edeff2;
	}

/*  8. 아래쪽 화살표 */
	.bottom_arrow{
		top			: 715px; 
		left		: 460px;
		
		width 		: 27.5px;
		height		: 27.5px;
	
	    border-top	: 5px solid lightgray; /* 선 두께 */
	    border-right: 5px solid lightgray; /* 선 두께 */
	    
	   
	    transform	: rotate(494deg); /* 각도 */
	    position   	: absolute;
		
	}
	   
/*  9. hover */
 /* 	  ul#navi:hover{
 	  	 display 	: none;
 	  } */
 	
 	
	
	